<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/index.css" rel="stylesheet">
    <link href="style/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="section-hero">
            
            <nav>
                <div class="nav-border">
                    <div class="nav-border-2">
                        <h1 style="color: white; margin: 0; margin-bottom: -3px; font-size:1vw ;">ANERA</h1>
                        <p style="color: #FFDE59; margin: 0; font-size: 0.4vw;">Testimonal</p>
                    </div>
                    <div class="nav-border-1">
                        <a href="/nav-products">Products</a>
                        <a href="/nav-workings">Workings</a>
                        <a href="/nav-about">About</a> 
                    </div>

                    <div class="nav-border-3">
                        <button>
                            Contact
                        </button>
                    </div>
                </div>
            </nav>
        </section>
       

