<%- include('partials/header.ejs') %>

<section style="background-color: #151515;">
    <div class="hero" style="background-color: #151515; height: 100%; width: 100%;;">
    </div>
    <div class="hero-body">
        <div class="hero-body-1">
            <div style="font-size: 1.8vw; color: #FFDE59;">Webdev & UI expert</div>
            <div style="font-size: 3.4vw; color: white; font-weight: 500;">
                HI,I AM A FULLSTACK</br>
                WEB-DEVELOPER &</br>
                A UI EXPERT</br>
            </div>
            <div style="font-size: 1.3vw; color: #9E9FA1; ">
                My AIM is to provide services to every small</br>
                start-ips to grow in the webspace
            </div>
            <div class="hero-body-button">
                <button style="background-color: #FFDE59;">
                    EMAIL ME
                </button>
                <button>
                    TEXT ME
                </button>
            </div>
        </div>
        
        <img style="filter: grayscale(0.7) brightness(0.5);" class="hero-body-img" src="image/horse.png" width="40%" alt="horse">
        
    </div>
</section>

<div class="side-menu">
    <a href="https://www.youtube.com/@chickencode12" target="_blank">
        <img src="image/social/youtube.png" width="25vw" alt="youtube" />
    </a>
    <a href="https://github.com/arinop12" target="_blank">
        <img src="image/social/github.png" width="25vw" alt="GitHub" />
    </a>
    <a href="https://linkedin.com" target="_blank">
        <img src="image/social/linkedin.png" width="25vw" alt="LinkedIn" />
    </a>
</div>

<section style="position: relative; background-color: #151515; display: block; width: 100%; height: auto; margin-top: 8%;">
    <div class="section-exp">
        <div>
            <h1 style="font-size: 1.8vw; margin-top: 5%; color: white;">Works That shows My capability</h1>
            <p style="font-size: 1vw;  color: #9E9FA1;">These projects are done using HTML, CSS and JS</p>
        </div>

        <div class="s exp-body-card">
            <div class="s card">
                <img src="image/hangman.png" width="100%" alt="hangman-game-pic"/>
                <div>
                    <h5>"I've developed a Hangman game where players guess letters to uncover a hidden word. You have 
                        a limited number of wrong guesses before the game is over. It’s a fun, simple
                        way to challenge your vocabulary skills while trying to save your stick figure from its doom!"</h2>
                    <a style="color: rgb(255, 255, 255); font-size: 0.9vw;" href="https://arinop12.github.io/Hangman-game/">Learn more ></a>
                </div>
            </div>
            <div class="s card">
                <img src="image/colorguess.png" width="100%" alt="colo-game-pic"/>
                <div>
                    <h5>I’ve created a motivation website designed to inspire and empower you daily. Whether you're chas
                        ing dreams or overcoming obstacles, this platform offers uplifting content, quotes, and actionabl
                        e tips to keep you focused and driven. It’s your go-to space for positivity and achieving your goals!</h2>
                    <a style="color: rgb(255, 255, 255); font-size: 0.9vw;" href="https://arinop12.github.io/Remember-The-Color/">Learn more ></a>
                </div>
            </div>
            <div class="s card">
                <img src="image/motivation.png" width="100%" alt="Radha-Krishna-pic"/>
                <div>
                    <h5>I made a fun and challenging "remember-the-color" game website where players are shown a sequence of 
                        colors and must recall them in the correct order. As levels progress, the sequences get
                        trickier, testing both memory and focus. It's perfect for a quick mental workout or a casual challenge!</h2>
                    <a style="color: rgb(255, 255, 255); font-size: 0.9vw;" href="https://arinop12.github.io/Motivation-Website/">Learn more ></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" style="display: block; width: 100%; height: auto;">
    <div style="display: flex; align-items: center; flex-direction: column; width: 100vw;">
        <h1 style=" height:auto; font-size: 1.8vw; color: white;">Things I Have Learned!</h1>
        <p style="font-size: 1vw;  color: #9E9FA1;">I have learned many languages throughout my 2 years of coding experience</p>
        <div class="know-body">
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/JavaScript-logo.png);"></div>
            </div>
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/python.jpg);"></div>
            </div>
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/posgresql.jpg);"></div>
            </div>
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/nodejs.png);"></div>
            </div>
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/gdscript.png);"></div>
            </div>
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/c.png);"></div>
            </div>
            <div class="know-body-section-card">
                <div style="background-image: url(image/logo/react.jpg);"></div>
            </div>
        </div>
    </div>
</section>
<section style="display: flex; justify-content: center;">
    <div style="padding-top: 8vw;">
        <div style="display: flex; justify-content: center;">
            <h1 style=" height:auto; font-size: 1.8vw; color: white;">About me</h1>
        </div>
        <div class="about-box">
            <div class="about-box-items">       
                <p>A programmer with two years of hands-on experience, I specialize in building dynamic, user-focused websites. My journey in coding has taught me how to transform ideas into engaging digital platforms.</p>
            </div>
            <div class="about-box-items">
                <p>Crafting responsive, mobile-friendly designs with
                Enhancing user experience through intuitive interfaces and
                Problem-solving and optimizing performance.</p>
            </div>  
            <div class="about-box-items">
                <p>I believe in clean, efficient code and continuous learning. Every project is a chance to push boundaries and create something impactful.</p>
            </div>  
            <div class="about-box-items">
                <p>When I’m not coding, I’m exploring new tech trends or diving into creative projects to expand my skillset.
                I also like to Develop new ideas for startups and my motivation is my Father and Mother.</p>
            </div>
            <div class="about-box-items">
                <p>Other than programming i like to play Piano and make youtube videos...</p>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #1e1e1e; height: auto; padding-top: 5vw;">
        <div class="contact-us">
            <h1 style=" height:auto; font-size: 1.8vw; color: white;">Contact Us</h1>
            <p style="font-size: 1vw;  color: #9E9FA1;">You can contact us from youtube, gmail and in LinkedIn profile.</p>
        </div>
        <div class="contact-form">
            <div class="contact-form-1">
                <p style="font-size: 1.5vw; margin: 0%;">Contact me</p>
                <p style="font-size: 0.8vw; padding-bottom: 1.4vw;">We cant solve your problem until you tell me about it.</p>
    
                <form class="contact-form-f" action="/submitContact" method="post">
                    <label style="font-size: 1vw;" for="email" aria-modal="true">Enter gmail:</label>
                    <input name="email" id="email" type="email">
                    <label style="font-size: 1vw;" for="comment" aria-modal="true">Enter Comment:</label>
                    <textarea name="comment" id="comment" type="text"></textarea>
                    <input id="submit-form-button" name="submit" type="submit" style="color: black;">
                </form>
    
                <p style="font-size: 0.8vw;">This contact-me form would not be used by any company.</p>
            </div>
            <div class="contact-form-2">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="1.4vw" fill="#e8eaed"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
                        <a href="">niralibert@gmail.com</a>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="1.4vw" fill="#e8eaed"><path d="M120-120v-560h160v-160h400v320h160v400H520v-160h-80v160H120Zm80-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z"/></svg>
                        <p style="margin: 0; color: white;">Buisness hours: 9am - 11pm</p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="1.4vw" fill="#e8eaed"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>
                        <p style="margin: 0; color: white;">India</p>
                    </div>
                    <div class="contact-form-2-social">
                        <a href="https://www.youtube.com/@chickencode12" target="_blank">
                            <img src="image/social/youtube.png" alt="youtube" />
                        </a>
                        <a href="https://github.com/arinop12" target="_blank">
                            <img src="image/social/github.png" alt="GitHub" />
                        </a>
                        <a href="https://linkedin.com" target="_blank">
                            <img src="image/social/linkedin.png" alt="LinkedIn" />
                        </a>
                    </div>
            </div>
        </div>
</section>
<section>
    <div class="service">
        <h1 style=" height:auto; font-size: 1.8vw; color: white;">Services</h1>
        <div class="service-body">
            <div>
                <h2 style="font-size: 1.5vw;">Web-Development</h2>
                <p>Custom Website</p>
                <p>Ui and Ux</p>
                <p>Integration with APIs</p>
                <p>Website maintenance</p>
                <p>Figma and Canva</p>
  
            </div>
            <div>
                <h2 style="font-size: 1.5vw;">Youtube</h2>
                <p>Custom Video</p>
                <p>Capcut Editing</p>
                <p>Thumbnail design</p>
                <p>Channel Dps</p>

            </div>
            <div>
                <h2 style="font-size: 1.5vw;">Content-Writing</h2>
                <p>Custom Content</p>
                <p>Innovative writing</p>
                <p>AI writing</p>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>

</main>



